{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block title_page %}{{ article.nom }}{% endblock %}

{% block body %}
    <div class="my-5">
        {{ article.description }}
    </div>
    <div>
        {% if (article.commentaires|length < 1) %}
            <p class="text-center fs-3">Soyer le premier à partager !</p>
        {% endif %}
        {% for commentaire in article.commentaires %}
        <div class="border border border-end-0 border-start-0">
            <p class="fw-bold">
                {{ commentaire.titre|upper }} <span class="text-muted">ecrit par {{ commentaire.auteur }}</span>
            </p>
            <p>
                {{ commentaire.commentaire }}
            </p>
        </div>
        {% endfor %}
        <div class="my-5">
            <turbo-frame id="add_comment">
                <a href="{{ path('app_commentaire_new', {'article': article.id }) }}"
                   class="btn btn-primary">
                    Ajouter un Commentaire</a>
            </turbo-frame>
        </div>
    </div>
{% endblock %}