<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_article_index') }}">Home</a>
                </li>
            </ul>
            <div class="ms-auto">
                {% if is_granted('IS_AUTHENTICATED') %}
                    <a type="button"
                       class="btn btn-outline-light"
                       href="{{ path('app_user_show') }}">Votre profil</a>
                    <a type="button"
                       class="btn btn-outline-danger"
                       href="{{ path('app_logout') }}">Se deconnecter</a>
                    {% else %}
                    <a type="button"
                       class="btn btn-outline-light"
                       href="{{ path('app_login') }}">Se Connecter</a>
                    <a type="button"
                       class="btn btn-outline-light"
                       href="{{ path('app_register') }}">S'enregistré</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>